---
title: About
layout: default
---

{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>ABOUT</h2>
</div>

<main class="tags-content">


    <ul class="tags-list">

        <li>
            {% if site.recommend-tags and site.tags.size>0 %}
            <section class="tags-card">
                <b>JAVA</b>
            </section>
            {% endif %}
        </li>
    </ul>

    <div class="g-container">

        <!--主页作者-->
        <section class="author-card">
            <div class="avatar">
                <img src="{{ site.avatar | prepend: site.baseurl }}" alt="">
            </div>
            <div class="author-name" rel="author">{{ site.author }}</div>
            <div class="bio">
                <p>{{ site.bio }}</p>
            </div>

            {% if site.sns.size > 0 %}
            <ul id="sns-links" class="sns-links">
                {% for s in site.sns %}
                <li>
                    <a href="{{ s[1] }}" target="_blank">
                        <i class="iconfont icon-{{ s[0] }}"></i>
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}

        </section>
    </div>

    {% include discuss.html %}
    {% include footer.html %}

</main>




    
