<header class="g-header">

    <div class="g-logo">
      <a href="{{ "/" | relative_url }}"></a>
    </div>

    <style>
        header .search-card{
            margin-top: -10px;
            padding: 0;
            float: left;
            width: 550px;
        }
    </style>
    {% if site.search %}
    <div class="search-card">
        <input id="search_input" type="text" placeholder="Search..." autocomplete="off">
        <i class="iconfont icon-search"></i>
        <div class="search_result"></div>
    </div>
    {% endif %}

    <i id="menu-toggle" class="iconfont icon-menu"></i>


    <nav class="g-nav">

        <ul>
            {% for i in site.nav %}
            <li><a href="{{ i[1] }}">{{ i[0] }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</header>
